################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RekawekApp/v15/Server/sqlite3
/RekawekApp/WebForm1.aspx.designer.cs
/RekawekApp/WebForm1.aspx.cs
/RekawekApp/WebForm1.aspx
/RekawekApp
/.vs/RekawekApp/v15/.suo
/.vs/RekawekApp/v15
/.vs/config/applicationhost.config
/.vs/config
/.vs
